In [6]:
d = {'name':'John','age':30, 'year':1995}

In [2]:
type(d)

dict

In [3]:
d

{'name': 'John', 'age': 30, 'year': 1995}

In [4]:
d = {}

In [5]:
type(d)

dict

In [7]:
d['name']

'John'

In [8]:
d1 = {'name':'John','name':'Joy'}

In [9]:
d1

{'name': 'Joy'}

In [10]:
len(d)

3

In [11]:
d

{'name': 'John', 'age': 30, 'year': 1995}

In [12]:
d['name']

'John'

In [13]:
d.get('age')

30

In [14]:
d.keys()

dict_keys(['name', 'age', 'year'])

In [15]:
d.values()

dict_values(['John', 30, 1995])

In [16]:
d.items()

dict_items([('name', 'John'), ('age', 30), ('year', 1995)])

In [18]:
if 'namexyz' in d:
    print("Yes")
else:
    print("No")

No

In [19]:
d['year'] = 2000

In [20]:
d

{'name': 'John', 'age': 30, 'year': 2000}

In [23]:
d.update({'year':1900})

In [24]:
d

{'name': 'John', 'age': 30, 'year': 1900}

In [25]:
d['driving'] = True

In [26]:
d

{'name': 'John', 'age': 30, 'year': 1900, 'driving': True}

In [27]:
d.pop('driving')

True

In [28]:
d

{'name': 'John', 'age': 30, 'year': 1900}

In [30]:
d.popitem()

('year', 1900)

In [31]:
d

{'name': 'John', 'age': 30}

In [32]:
del d['name']

In [33]:
d

{'age': 30}

In [34]:
del d

In [35]:
d

NameError: name 'd' is not defined

In [39]:
d = {'name':'John','age':30, 'year':1995}

In [37]:
d.clear()

In [38]:
d

{}

In [40]:
d

{'name': 'John', 'age': 30, 'year': 1995}

In [41]:
for x in d:
    print(x)

name
age
year

In [42]:
for x in d:
    print(d[x])

John
30
1995

In [43]:
for x in d.keys():
    print(x)

name
age
year

In [44]:
for x in d.values():
    print(x)

John
30
1995

In [45]:
for x,y in d.items():
    print(x,y)

name John
age 30
year 1995

In [46]:
d

{'name': 'John', 'age': 30, 'year': 1995}

In [47]:
d1 = d

In [48]:
d1['year'] = '1994'

In [49]:
d1

{'name': 'John', 'age': 30, 'year': '1994'}

In [50]:
d

{'name': 'John', 'age': 30, 'year': '1994'}

In [51]:
d2 = d.copy()

In [52]:
d2

{'name': 'John', 'age': 30, 'year': '1994'}

In [53]:
d

{'name': 'John', 'age': 30, 'year': '1994'}

In [55]:
d2['year'] = '1996'

In [56]:
d2

{'name': 'John', 'age': 30, 'year': '1996'}

In [57]:
d

{'name': 'John', 'age': 30, 'year': '1994'}

In [58]:
d4 = {'person1':{'name': 'John', 'age': 30, 'year': '1994'},'person2':{'name': 'Joy', 'age': 20, 'year': '2000'}}

In [59]:
d4

{'person1': {'name': 'John', 'age': 30, 'year': '1994'},
 'person2': {'name': 'Joy', 'age': 20, 'year': '2000'}}

In [61]:
d4['person1']

{'name': 'John', 'age': 30, 'year': '1994'}

In [62]:
d4['person1']['name']

'John'

In [65]:
x = ('k1','k2','k3')
y = (1,2,3)

In [66]:
dict.fromkeys(x,y)

{'k1': (1, 2, 3), 'k2': (1, 2, 3), 'k3': (1, 2, 3)}

In [67]:
dict.fromkeys(x)

{'k1': None, 'k2': None, 'k3': None}

In [68]:
x = ('k1','k2','k3')
y = 0

In [69]:
dict.fromkeys(x,y)

{'k1': 0, 'k2': 0, 'k3': 0}

In [70]:
d6 = {'name': 'John', 'age': 30, 'year': '1994'}

In [71]:
d6

{'name': 'John', 'age': 30, 'year': '1994'}

In [75]:
d6.setdefault('colour','blue')

'blue'

In [76]:
d6

{'name': 'John', 'age': 30, 'year': '1994', 'colour': 'blue'}

In [77]:
d7 = {x:x**2 for x in [1,2,3,4,5]}

In [78]:
d7

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [79]:
d7 = {x**2 for x in [1,2,3,4,5]}

In [80]:
d7

{1, 4, 9, 16, 25}

In [81]:
a = (1,2,3)
b = ('a','b','c')

In [83]:
x = zip(a,b)

In [84]:
tuple(x)

((1, 'a'), (2, 'b'), (3, 'c'))