In [4]:
t = ("apply","banana","mango")

In [5]:
type(t)

tuple

In [6]:
t = ("apple",1,True)

In [7]:
t

('apple', 1, True)

In [8]:
t[0]

'apple'

In [9]:
t = ("apple",1,1,2.5)

In [10]:
t

('apple', 1, 1, 2.5)

In [11]:
t[0] = "mango"

TypeError: 'tuple' object does not support item assignment

In [12]:
l = ["apple","mango","banana"]

In [13]:
for i in l:
    print(i)

apple
mango
banana

In [14]:
for i in t:
    print(i)

apple
1
1
2.5

In [15]:
t[1:3]

(1, 1)

In [16]:
t

('apple', 1, 1, 2.5)

In [17]:
tuple([1,2,4,3])

(1, 2, 4, 3)

In [18]:
del(t)

In [19]:
t

NameError: name 't' is not defined

In [20]:
min(l)

'apple'

In [21]:
l = [1,'a',True]

In [22]:
min(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
t = (1,'a',True)

In [24]:
min(t)

TypeError: '<' not supported between instances of 'str' and 'int'

In [25]:
t = (3,2,1)

In [26]:
max(t)

3

In [27]:
min(t)

1

In [28]:
len(t)

3

In [29]:
l = ["apple"]

In [30]:
type(l)

list

In [31]:
t = ("apple")

In [32]:
type(t)

str

In [33]:
t = ("apple",)

In [34]:
type(t)

tuple

In [35]:
t = ()

In [37]:
type(t)

tuple

In [38]:
l = []

In [39]:
type(l)

list

In [40]:
t

()

In [41]:
t = (1,1,'apple',True)

In [42]:
t.count(1)

3

In [43]:
t.count('apple')

1

In [44]:
t.index('apple')

2

In [45]:
1 in t

True

In [46]:
'banana' in t

False